body {
    background-color: #f3f3f3;
}
.jumbotron {
    background-color: #FFFFFF;
    border: solid thin #dadada;
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-top: 30px !important;
    padding-bottom: 30px !important;
}
.navbar {
    background-color: #FFFFFF;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    background-color: #FFFFFF;
    border-bottom: solid medium #8884fb;
}
.glyphicon {
    margin-right: 5px;
}
.btn-default {
    background-color: #8884fb;
    color: #FFFFFF;
    border-color: #8884fb;
}
.btn-default:hover {
    background-color: #FFFFFF;
    color: #8884fb;
    border-color: #8884fb;
}
#rcont {
	width: 35%;
}

/**
LOGIN
**/
.log {
	padding-left: 15px;
}

/**
TWEET
**/
#tweet-container {
    background-color: #FFFFFF;
}
#send-tweet-container {
    background-color: #E5F2F7;
    padding-top: 15px;
    padding-left: 10px;
}
#send-tweet-container-input {
    display: inline-block;
    width: 50%
}
#send-tweet-container-button {
    display: inline-block;
    margin-left:20px;
    vertical-align:top
}
.tweet {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border: solid thin #dadada;
}
.tweet-user {
    margin-top: 0px;
    font-weight: bold;
}
.tweet-time {
    font-size: 12pt !important;
    color: #636363;
}

/**
USER
**/
.user {
    border: solid thin #dadada;
    padding:10px;
}
.user-img {
    border-radius: 10px;
    margin-right: 20px;
    display: inline-block;
}
.user-name {
    display: inline-block;
    font-weight: bold;
}
.user-bio {
    margin-top:10px;
}
.user-info {
    font-size: 12pt !important;
    color: #636363;
}

/**
SEARCH
**/
#imaginary_container {
	width: 60%;
}
.stylish-input-group .input-group-addon{
    background: white !important;
}
.stylish-input-group .form-control{
    border-right:0;
    box-shadow:0 0 0;
    border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}


@media only screen and (max-width: 767px) {

  #rcont{
    width: 100%;
    padding-left: 10px;
  }

  .log {
	padding-left: 5px;
	padding-top: 25px;
  }
  #imaginary_container {
	margin-bottom: 10px;
  }

}
