
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Babbel_PT</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- The above 3 meta tags *must* come first in the head -->

    <script src="http://code.jquery.com/jquery-2.2.3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="css/index.css">
</head>
<body>

<div class="container-fluid">
    <div class="page-header">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container navbar-container" style="margin-left: 0; margin-right:0; width:100%; box-sizing: border-box">
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="GlobalTimeline.html"><span class="glyphicon glyphicon-home"></span>Globale Timeline</a></li>
                        <li><a href="PersTimeline.html"><span class="glyphicon glyphicon-user"></span> Persönliche Timeline</a></li>
                    </ul>

                    <form class="navbar-form navbar-right" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Babbel durchsuchen">
                        </div>
                        <button type="submit" class="btn btn-default" style="margin-left: 15px;">Suchen</button>
                    </form>
                </div><!-- /.navbar-collapse -->
            </div>
        </nav>
    </div>


    <div class="jumbotron">
        <div class="container-fluid">
            <div class="col-xs-4 col-md-4">
                <div id="user-container">
                    <div class="user">
                        <img src="ref/John_Doe.jpg" alt="profilepicture" width="35%" class="user-img">
                        <h3 class="user-name">John Doe</h3>
                        <p class="user-bio">How can anybody know me, when i don't even know myself.</p>
                        <p class="user-info">Beigetreten 03.02.2015</p>
                    </div>
                </div>
            </div>

            <div class="col-xs-8 col-md-8">
                <div id="send-tweet-container">
                    <form role="form" id="send-tweet-container-form">
                        <div class="form-group" id="send-tweet-container-input">
                            <input type="text" class="form-control" placeholder="Was gibt's Neues?" maxlength="140">
                        </div>
                        <div id="send-tweet-container-button">
                            <button type="submit" class="btn btn-default">
                                <span class="glyphicon glyphicon-send">
                                </span>Babbeln
                            </button>
                        </div>
                    </form>
                </div>
                <div id="tweet-container">
                    <div class="tweet">
                        <h3 class="tweet-user">John Doe </h3>
                        <p class="tweet-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.</p>
                        <p class="tweet-time">02.04.2016 09:33</p>
                    </div>
                    <div class="tweet">
                        <h3 class="tweet-user">John Doe </h3>
                        <p class="tweet-text">Sinvidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                        <p class="tweet-time">02.04.2016 09:02</p>
                    </div>
                    <div class="tweet">
                        <h3 class="tweet-user">John Doe </h3>
                        <p class="tweet-text">Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                        <p class="tweet-time">02.04.2016 09:01</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script src="js/index.js"></script>
</body>
</html>