
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Babble - Login</title>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- The above 3 meta tags *must* come first in the head -->
<link th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
	rel="stylesheet" media="screen" />
<link rel="stylesheet" href="/css/login.css" />
</head>

<body>
	<div class="text-center" style="padding: 50px 0">
		<div class="logo">login</div>

		<div class="login-form-1">

			<form class="form" action="#" th:action="@{/register}"
			th:object="${user}" method="post">
			
				<div class="form-group">
					<label> Username </label> <input type="text" th:field="*{username}" />
				</div>
				<div class="form-group">
					<label> Password </label> <input type="password"
						th:field="*{password}" />
				</div>
				<div class="form-group">
					<label> Firstname </label> <input type="text"
						th:field="*{firstname}" />
				</div>
				<div class="form-group">
					<label> Lastname </label> <input type="text" th:field="*{lastname}" />
				</div>
				<button type="submit" class="btn btn-default">Save</button>

			</form>
		</div>

	</div>
	
	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/3.3.4/js/bootstrap.min.js}"></script>

</body>
</html>